#standard-notes-clipper-hover {
  background: rgba(50,50,50,0.05);
  z-index: 10000000;
  border: rgb(8, 109, 214) dashed 5px;
  padding: none;
  margin: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  cursor: pointer;
}

#standard-notes-clipper-hover.selected {
  border-style: solid;
  background: rgba(50,50,50,0.5);
}

#standard-notes-clipper-hover.selected .spinner {
  color: #ffffff;
  font-size: 8px;
  margin: -10px auto auto auto;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

#standard-notes-clipper-hover.final {
  background: none;
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}


.standard-notes-control-box {
  z-index: 10000001;
  position: fixed;
  top: 10px;
  right: -350px;
  width: 300px;
  padding: 10px 10px 0 10px;
  background: white;
  border: solid 1px rgb(227, 227, 227);
  border-top-color: rgb(8, 109, 214);
  border-top-width: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  font-size: 14px;
  color: black;
  line-height: 1.25em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  transition: all 0.5s;
}

.standard-notes-control-box.active {
  right: 10px;
}

.standard-notes-control-box h1 {
  font-size: 20px;
  margin: 0 0 10px 0;
  line-height: 1.25em;
  color: black;
}

.standard-notes-control-box .section {
  margin: 0 0 1em 0;
  overflow: hidden;
}

.standard-notes-control-box .direction {
  font-style: italic;
  color: #444;
}

.standard-notes-control-box input {
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.standard-notes-control-box input.title {
  font-size: 20px;
  font-weight: bold;
}

.standard-notes-control-box input.tags {
  color: #666;
}

.standard-notes-control-box button {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 3px;
  margin-right: 4px;
  border: solid 1px transparent;
  cursor: pointer;
}

.standard-notes-control-box button:hover,
.standard-notes-control-box button:active {
  border-color: rgb(70, 70, 70);
}

.standard-notes-control-box button.save {
  background: rgb(8, 109, 214);
  color: white;
  box-shadow: rgb(8, 109, 214) 0px 0px 0px 1px inset;
}

.standard-notes-control-box button.skip {
  box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
  color: #666;
}

.highlight-grab-button {
  position: fixed;
  top: -100;
  left: -100;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 3px;
  margin-right: 4px;
  border: solid 1px transparent;
  cursor: pointer;
  background: rgb(8, 109, 214);
  color: white;
  box-shadow: rgb(8, 109, 214) 0px 0px 0px 1px inset;
}

.standard-notes-control-box .mode-selector .mode-button {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
  color: #666;
}

.standard-notes-control-box .mode-selector .mode-button.selected {
  background: rgb(8, 109, 214);
  color: white;
  box-shadow: rgb(8, 109, 214) 0px 0px 0px 1px inset;
}

.standard-notes-control-box .mode-selector .mode-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  float: left;
}

.standard-notes-control-box .mode-selector .mode-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: right;
}
